@model IEnumerable<Masterdata.Models.Desembarque>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Fecha</th>
            <th>Referencia</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td><input class="select-row" type="checkbox" value="@item.Id" /></td>
                <td>@item.Id</td>
                <td>@item.FechaGrabacion.ToShortDateString()</td>
                <td>@item.Referencia</td>
                <td>
                    <form method="post" action="/Home/Delete" style="display:inline">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit">Baja</button>
                    </form>
                    <a href="/Home/Edit/@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
